body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em 2em;
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
}

header label {
  margin-left: auto;
}

header label time,
header label em {
  display: block;
  margin-top: 0.5em;
}

header label em {
  color: #666;
  font-style: italic;
}