html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#map svg circle,
.legend > div::before {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map svg circle {
  pointer-events: auto;
  cursor: pointer;
  fill: var(--color);
}

/* Legend styles - Design 2: Separate swatches & labels */
.legend {
  display: flex;
  gap: 1.5rem;
  margin-block: 1rem;
  align-items: center;
  justify-content: center;
}

.legend > span {
  font-weight: bold;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.legend > div::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: var(--color);
  flex-shrink: 0;
}